{%- macro type_(column) -%}
    {%- if column.data_type == 'str' -%}
        {%- if column.name == 'ts_code' %}LowCardinality(String){%- else %}String{%- endif %}
    {%- elif column.data_type == 'int' -%}
        Int64
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        Float64
    {%- elif column.data_type == 'date' -%}
        Date
    {%- elif column.data_type == 'datetime' -%}
        DateTime64
    {%- endif -%}
{%- endmacro %}

{%- macro default_value(column) -%}
    {%- if column.data_type == 'str' -%}
        ''
    {%- elif column.data_type == 'int' -%}
        0
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        0
    {%- elif column.data_type == 'date' -%}
        '1970-01-01'
    {%- elif column.data_type == 'datetime' -%}
        '1970-01-01 00:00:00'
    {%- endif -%}
{%- endmacro %}

{%- macro parse_type(column) -%}
    {{ type_(column) }} NOT NULL DEFAULT {{ default_value(column) }}
{%- endmacro -%}

CREATE TABLE IF NOT EXISTS {{ db_name }}.{{ table_name }}
(
{%- for column in outputs %}
    `{{ column.name }}` {{ parse_type(column) }} COMMENT '{{ column.desc }}'{{ ',' if not loop.last }}
{%- endfor %}
) ENGINE = MergeTree()
{%- if primary_key %}
    ORDER BY ({{ primary_key }})
{%- endif %}