{%- macro type_(column) -%}
    {%- if column.data_type == 'str' -%}
        String
    {%- elif column.data_type == 'int' -%}
        Int64
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        Float64
    {%- elif column.data_type == 'date' -%}
        Date32
    {%- elif column.data_type == 'datetime' -%}
        DateTime64
    {%- elif column.data_type == 'json' -%}
        String
    {%- endif -%}
{%- endmacro %}

{%- macro default_value(column) -%}
    {%- if column.data_type == 'str' -%}
        ''
    {%- elif column.data_type == 'int' -%}
        0
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        0
    {%- elif column.data_type == 'date' -%}
        '1970-01-01'
    {%- elif column.data_type == 'datetime' -%}
        '1970-01-01 00:00:00'
    {%- elif column.data_type == 'json' -%}
        ''
    {%- endif -%}
{%- endmacro %}

{%- macro parse_type(column) -%}
    {{ type_(column) }} NOT NULL DEFAULT {{ default_value(column) }}
{%- endmacro -%}

CREATE TABLE IF NOT EXISTS {{ db_name }}.{{ table_name }}{%- if cluster %} ON CLUSTER {{ cluster }} {%- endif %}
(
{%- for column in columns %}
    {%- if 'codec' in template_params %}
    `{{ column.name }}` {{ parse_type(column) }} COMMENT '{{ column.desc }}' CODEC({{ template_params['codec'] }}) {{ ',' if not loop.last }} 
    {%- else %}
    `{{ column.name }}` {{ parse_type(column) }} COMMENT '{{ column.desc }}'{{ ',' if not loop.last }} 
    {%- endif %}
{%- endfor %}
) ENGINE = {% if primary_key %}ReplacingMergeTree{% else %}MergeTree{% endif %}
{%- if primary_key %}
    ORDER BY ({{  primary_key | join(', ') }})
{%- elif indexes %}
    ORDER BY ({{ indexes[0]['columns'] | join(', ') }})
{%- endif %}
{%- if template_params and 'settings' in template_params %}
    SETTINGS {%- for key,value in template_params['settings'].items() %}  {{ key }} = '{{ value }}'
    {{ ',' if not loop.last }} {%- endfor %}
{%- endif %}