{%- macro type_(column) -%}
    {%- if column.data_type == 'str' -%}
        VARCHAR({{ column.length or 255 }})
    {%- elif column.data_type == 'int' -%}
        BIGINT
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        DOUBLE
    {%- elif column.data_type == 'date' -%}
        DATE
    {%- elif column.data_type == 'datetime' -%}
        DATETIME
    {%- elif column.data_type == 'json' -%}
        VARCHAR(2048)
    {%- endif -%}
{%- endmacro %}

{%- macro default_value(column) -%}
    {%- if column.data_type == 'str' -%}
        ''
    {%- elif column.data_type == 'int' -%}
        0
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        0
    {%- elif column.data_type == 'date' -%}
        '1970-01-01'
    {%- elif column.data_type == 'datetime' -%}
        '1970-01-01 00:00:00'
    {%- elif column.data_type == 'json' -%}
        ''
    {%- endif -%}
{%- endmacro %}

{%- macro parse_type(column) -%}
    {{ type_(column) }} NOT NULL DEFAULT {{ default_value(column) }}
{%- endmacro -%}

CREATE TABLE IF NOT EXISTS {{ db_name }}.{{ table_name }}
(
{%- for column in columns %}
    `{{ column.name }}` {{ parse_type(column) }} COMMENT '{{ column.comment }}'{{ ',' if not loop.last }}
{%- endfor %}
)
{%- if primary_key %}
PRIMARY KEY ({{ primary_key | join(', ') }})
{%- endif %}
COMMENT '{{ comment }}'
{%- if partition_key %}
PARTITION BY ({{ partition_key | join(', ') }})
{%- endif %}
{%- if primary_key %}
ORDER BY {{ primary_key | join(', ') }}
{%- endif %}
DISTRIBUTED BY HASH({% if primary_key %}{{ primary_key[0] }}{% else %}{{ columns[0].name }}{% endif %}) BUCKETS {{ template_params.buckets }}
PROPERTIES (
{%- for key, value in template_params.items() %}
    "{{ key }}" = "{{ value }}"{{ ',' if not loop.last }}
{%- endfor %}
); 