{%- macro type_(column) -%}
    {%- if column.data_type == 'str' -%}
        VARCHAR
    {%- elif column.data_type == 'int' -%}
        INT
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        DOUBLE
    {%- elif column.data_type == 'date' -%}
        DATE
    {%- elif column.data_type == 'datetime' -%}
        DateTime
    {%- elif column.data_type == 'json' -%}
        VARCHAR
    {%- endif -%}
{%- endmacro %}

{%- macro default_value(column) -%}
    {%- if column.data_type == 'str' -%}
        ''
    {%- elif column.data_type == 'int' -%}
        0
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        0
    {%- elif column.data_type == 'date' -%}
        '1970-01-01'
    {%- elif column.data_type == 'datetime' -%}
        '1970-01-01 00:00:00'
    {%- elif column.data_type == 'json' -%}
        ''
    {%- endif -%}
{%- endmacro %}

{%- macro parse_type(column) -%}
    {{ type_(column) }} NOT NULL DEFAULT {{ default_value(column) }}
{%- endmacro -%}

CREATE TABLE IF NOT EXISTS {{ db_name }}.{{ table_name }}
(
{%- for column in outputs %}
    `{{ column.name }}` {{ parse_type(column) }} COMMENT '{{ column.desc }}'{{ ',' if not loop.last }}
{%- endfor %}
)