INSERT INTO {{ db_name }}.{{ table_name }} (
    {%- for column in columns  %}
    {{ column }}{%- if not loop.last %}, {% endif %}
    {%- endfor %}
)
VALUES (
    {%- for column in columns  %}
    :{{ column }}{%- if not loop.last %}, {% endif %}
    {%- endfor %}
)