{%- macro type_(column) -%}
    {%- if column.data_type == 'str' -%}
        VARCHAR({{ column.length or 255 }})
    {%- elif column.data_type == 'int' -%}
        INT
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        FLOAT
    {%- elif column.data_type == 'date' -%}
        DATE
    {%- elif column.data_type == 'datetime' -%}
        DATETIME
    {%- elif column.data_type == 'json' -%}
        VARCHAR(2048)
    {%- endif -%}
{%- endmacro %}

{%- macro default_value(column) -%}
    {%- if column.data_type == 'str' -%}
        ''
    {%- elif column.data_type == 'int' -%}
        0
    {%- elif column.data_type == 'float' or column.data_type == 'number' -%}
        0
    {%- elif column.data_type == 'date' -%}
        '1970-01-01'
    {%- elif column.data_type == 'datetime' -%}
        '1970-01-01 00:00:00'
    {%- endif -%}
{%- endmacro %}

{%- macro parse_type(column) -%}
    {%- if column.data_type == 'json' -%}
        {{ type_(column) }} NOT NULL
    {%- else -%}
        {{ type_(column) }} NOT NULL DEFAULT {{ default_value(column) }}
    {%- endif -%}
{%- endmacro -%}

CREATE TABLE IF NOT EXISTS {{ db_name }}.{{ table_name }}
(
{%- for column in columns %}
    `{{ column.name }}` {{ parse_type(column) }} COMMENT '{{ column.comment }}'{{ ',' if not loop.last or primary_key or indexes }}
{%- endfor %}

{%- if primary_key %}
    UNIQUE  KEY (`{{  primary_key | join('`, `') }}`) {%- if indexes %},{% endif %}
{%- endif %}

{%- if indexes %}
    {%- for index in indexes %}
    INDEX `{{ index.name }}` (`{{ index.columns | join('`, `') }}`) {{ ',' if not loop.last }}
    {%- endfor %}
{%- endif %}
) ENGINE={{ engine or 'innoDB' }} DEFAULT CHARSET={{ charset or 'utf8mb4' }} COMMENT='{{ comment }}';